<% include partials/header %>
<div class="aakash">
<div class="ui main text container">
    <div class="ui huge header" style="font-size: 3em; color:white;">Your Search Results</div>
    <div class="ui top attached">
            <div class="ui divided items segment">
                <% data["Search"].forEach(function(movie){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= movie["Poster"] %>">
                    </div>    
                    <div class="content">
                        <h1><a class"header" href="/movies/show"><%=movie["Title"];%></a></h1>
                        <hr style="opacity: 0.3;">
                        <div class="meta">
                            <h2><span class="date">Released in Year <%=movie["Year"]%></span></h2>
                        </div>
                        <div class="type">
                          <h4 type"description">Type(Series/Movie) - <%= movie["Type"].toUpperCase() %></h4>
                        </div>
                        <br>
                        <a href="/movies/show/<%= movie["imdbID"] %>" class="ui orange big basic button">Read More..</a>
                    </div>
                </div>
                <% }); %>
            </div>
    </div>
</div>    
</div>
            <!--<a href="/">Search Again!!</a>-->

<% include partials/footer %>